form{
    background-color: white;
    width: 40%;
    margin-left: auto;
    margin-right: 60%;
}
h1{
    text-align: center;
    text-decoration-line: underline;
}
body{

    background-image: url(fruit.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    margin: 1px;
    transform:blur (7px)
}


.moi{
    text-align: left;

}
table{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    margin-bottom: 20px;
}
th,td{
    border: 5px solid black;
    background-color: rgba(255, 255, 255, 0.452);
    backdrop-filter: blur(15px);
    
}
img{
    width: 150px;
    height: 150px;

}
.toi{
    word-spacing: 8px;
}
.nous{
    color: rgb(0, 0, 0);
}